<div class="modal" id="refreshModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Data Refresh</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Refreshing will overwrite all local data including your local modeling set. Are you sure you want to proceed?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">No!</button>
        <button type="button" id="refreshData" class="btn btn-danger" data-dismiss="modal">Yes!</button>
      </div>

    </div>
  </div>
</div>
